/** @format */
// colors
@colorWhite: #ffffff;
@colorBluish: #f6fbff;
@colorBtnPrimary: #0f92d4;
@colorBtnSecondary: #ffd21f;
@colorIconYellow: #ffcc01;
@colorIconRed: #e61c4a;
@colorIconBlue: #2dc8ec;
@colorIconBlack: #000000;
@textColor1: #666666;
@textColor2: #1a3344;
@textColor3: #cc0000;

//fonts
@fontFamily1: 'Ubuntu', sans-serif;
@fontFamily2: 'Open Sans', sans-serif;

@fontSizeH1: 68px;
@fontSizeH2: 48px;
@fontLineHeightH12: 110%;

@fontSizeHeaderText: 20px;
@fontLineHeightHeaderText: 27px;

@fontSizeTopCaption: 13px;

@fontSizeH3: 32px;
@fontLineHeightH3: 37px;

@fontSizeP: 16px;
@fontLineHeightP: 150%;

@fontSizeBtn: 18px;
@fontLineHeightBtn: 25px;

@fontSizeIcon: 10px;
@fontLineHeightIcon: 14px;

@fontWeightX: 700;
@fontWeightL: 600;
@fontWeightM: 500;
@fontWeightS: 300;

@mainSpacing: 0.5px;

//layout
@appContainer: 1440px;

@spacingL: 80px;
@spacingM: 48px;
@spacingS: 32px;

@paddingAppSmall: 0 15px;
@paddingApp: 0 100px;
@paddingBtn: 8px 32px;
@paddingIcon: 0 8px;

@screenTablet: 768px;
@screenDesktop: 1200px;

//borders
@borderBottomS: 1px solid @textColor2;
@borderBtnPrimary: 1.5px solid @textColor2;
@borderBtnSecondary: 1.5px solid #733e17;

@borderRadiusBtn: 4px;
@borderRadiusIcon: 2px;

@boxShadowBtnPrimary: 2px 2px 0px @textColor2;
@boxShadowBtnSecondary: 2px 2px 0px #733e17;
