/** @format */

@import '../../styles/variables.less';

.ModIcons {
	background-color: @colorBluish;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0px 32px;
		gap: 10px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0px;
		gap: 5px;
		max-width: 160px;
	}
	&__text-container {
		text-align: center;
	}
	&__text {
		font-family: @fontFamily2;
		font-weight: @fontWeightS;
		font-size: 13px;
	}

	@media (min-width: @screenTablet) {
		&__container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			padding: 0px 32px;
			gap: 16px;
		}

		&__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0px;
			gap: 24px;
			width: 260px;
		}
		&__text-container {
			text-align: center;
		}
		&__text {
			font-family: @fontFamily2;
			font-weight: @fontWeightS;
			font-size: @fontSizeP;
			line-height: @fontLineHeightP;
		}
	}

	@media (min-width: @screenDesktop) {
	}
}
