/** @format */

@import '../../styles/variables.less';

.MenuBar {
	border-bottom: @borderBottomS;
	padding: 21px 0;
	height: 90px;
	text-align: center;

	@media (min-width: @screenDesktop) {
		text-align: left;
	}
}
