/** @format */

@import '../../styles/variables.less';

.ModCTA {
	background-color: @colorBluish;
	&__img {
		display: block;
		margin: 0 auto;
	}
	&__box {
		padding-bottom: 10px;
	}
	&__header {
		font-family: @fontFamily1;
		font-weight: @fontWeightM;
		font-size: @fontSizeH2Small;
		line-height: @fontLineHeightH12;
		text-align: center;
		margin-bottom: 10px;
	}
	&__span {
		font-style: italic;
	}
	&__paragraph {
		text-align: center;
		padding-bottom: 20px;
		font-family: @fontFamily2;
		font-weight: @fontWeightS;
		font-size: @fontSizeP;
		line-height: (@fontLineHeightP - 30%);
	}

	@media (min-width: @screenTablet) {
		&__container {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			padding: 24px 0;
			gap: 63px;
		}
		&__box-img {
			width: 362px;
			height: 362px;
			position: relative;
		}
		&__img {
			position: absolute;
			width: 360px;
			height: 440px;
			left: 0.5px;
			top: -78px;
		}
		&__box {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
			padding-bottom: 0;
		}
		&__box-content {
			display: flex;
			flex-direction: column;
			align-items: left;
			gap: 16px;
			max-width: 464px;
		}
		&__header {
			font-family: @fontFamily1;
			font-weight: @fontWeightM;
			font-size: @fontSizeH2Small;
			line-height: @fontLineHeightH12;
			text-align: left;
			margin-bottom: 0;
		}
		&__span {
			font-style: italic;
		}
		&__paragraph {
			line-height: @fontLineHeightP;
			text-align: left;
			padding-bottom: 0;
		}
	}

	@media (min-width: @screenDesktop) {
		&__header {
			font-size: @fontSizeH2;
		}
		&__box-content {
			max-width: 664px;
		}
	}
}

.flexColumnWithGap(@gap) {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: @gap;
}
