/** @format */

@import '../../styles/variables.less';

.ModContactForm {
	background-color: @colorBluish;
	&__span {
		font-style: italic;
	}

	@media (min-width: @screenTablet) {
		&__container {
			.flexColumnWithGap(32px);
			justify-content: center;
			max-width: 768px;
			margin: 0 auto;
		}
		&__content {
			.flexColumnWithGap(16px);
			text-align: center;
		}
		&__header {
			font-family: @fontFamily1;
			font-weight: @fontWeightM;
			font-size: @fontSizeH2;
			line-height: @fontLineHeightH12;
		}
		&__paragraph {
			font-family: @fontFamily2;
			font-weight: @fontWeightS;
			font-size: @fontSizeP;
			line-height: @fontLineHeightP;
			max-width: 480px;
		}
		&__form {
			.flexColumnWithGap(32px);
		}
		&__inputs {
			.flexColumnWithGap(12px);
			align-items: flex-start;
		}
		&__content-msg-sent {
			background-color: @colorWhite;
			margin: 50px 0;
			padding: 100px;
			text-align: center;
			border: @borderInput;
			border-radius: @borderRadiusBtn;
			box-shadow: @boxShadowBtnPrimary;
			position: relative;
		}
		&__close-msg-sent {
			position: absolute;
			top: 10px;
			left: 638px;
			font-size: (@fontSizeP * 2);
			cursor: pointer;

			&:active {
				transform: scale(0.9);
			}
		}
	}

	@media (min-width: @screenDesktop) {
	}
}

.flexColumnWithGap(@gap) {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: @gap;
}
